{% extends "base_generic.html" %}

{% block content %}
    <h1>Polish Words List</h1>
    {% if wordpol_list %}
        <ul>
            {% for word in wordpol_list %}
                <li>
                    <h2>{{ word.word }} : {{ word.display_engword }}</h2>
                    <p> Type: {{ word.word_type }} Added: {{ word.date_of_add }} {{ word_list.some_data }} {{word.id}} </p>
                    <h2> {{word.some_data }} </h2>
                    <a class="listlink" href="{% url 'wordslearn:detail' word.id %}">Details of {{ word.word }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no words in the dictionary.</p>
    {% endif %}
{% endblock %}