{% extends "base_generic.html" %}

{% block content %}
    <h1>English Words List</h1>
    {% if wordeng_list %}
        <ul>
            {% for word in wordeng_list %}
                <li>
                    <p>{{ word.word }} Type: {{ word.word_type }} Added: {{ word.date_of_add }} {{ word_list.some_data }} {{word.id}}</p>
                    <p> {{ word.display_polword }}</p>
                    <a href="{% url 'wordslearn:detail' word.id %}">Details of {{ word.word }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no words in the dictionary.</p>
    {% endif %}
{% endblock %}