

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  {% block title %}<title> Words </title>{% endblock %}
</head>
<body>

{% block sidebar %}
    <table class="menu">
        <tr class="menu">
            <th class="menu"><a class="menu" href="{% url 'wordslearn:index' %}">START</a></th>
            <th class="menu"><a class="menu" href="{% url 'wordslearn:englishwords' %}">ALL ENGLISH WORDS</a></th>
            <th class="menu"><a class="menu" href="{% url 'wordslearn:polishwords' %}">ALL POLISH WORDS</a></th>
            <th class="menu"><a class="menu" href="{% url 'wordslearn:add-english-word-simple' %}">ADD ENGLISH WORD</a></th>
            <th class="menu"><a class="menu" href="{% url 'wordslearn:add-polish-word' %}">ADD POLISH WORDS</a></th>
        </tr>
    </table>
{% endblock %}

{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>