<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title> Words </title>{% endblock %}
</head>
<body>
{% block sidebar %}
  	<a href="{% url 'wordslearn:index' %}">Start</a>
    <a href="{% url 'wordslearn:englishwords' %}">All english words</a>
    <a href="{% url 'wordslearn:polishwords' %}">All polish words</a>
    <a href="{% url 'wordslearn:add-english-word' %}">Add english word</a>
    <a href="{% url 'wordslearn:add-polish-word' %}">Add polish word</a>

{% endblock %}

{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>